@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 214.3 100% 95%;
    --foreground: 214.3 5% 3%;
    --card: 214.3 50% 90%;
    --card-foreground: 214.3 5% 10%;
    --popover: 214.3 100% 95%;
    --popover-foreground: 214.3 100% 3%;
    --primary: 214.3 31.8% 91.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 214.3 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 176.3 30% 85%;
    --muted-foreground: 214.3 5% 35%;
    --accent: 176.3 30% 80%;
    --accent-foreground: 214.3 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 214.3 5% 90%;
    --border: 214.3 30% 50%;
    --input: 214.3 30% 18%;
    --ring: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 214.3 50% 5%;
    --foreground: 214.3 5% 90%;
    --card: 214.3 50% 3%;
    --card-foreground: 214.3 5% 90%;
    --popover: 214.3 50% 5%;
    --popover-foreground: 214.3 5% 90%;
    --primary: 214.3 31.8% 91.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 214.3 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 176.3 30% 15%;
    --muted-foreground: 214.3 5% 60%;
    --accent: 176.3 30% 15%;
    --accent-foreground: 214.3 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 214.3 5% 90%;
    --border: 214.3 30% 18%;
    --input: 214.3 30% 18%;
    --ring: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
